<div style="background-color: var(--tf-papers-bg-color)" class="bg-gradient py-3" id="experiences">
  <div class="container">
    <div class="row mb-3">
      <div class="col-md-6">
        <h1 class="display-4 text-start">Experiences</h1>
      </div>
    </div>

    <div class="row">
      {% assign experience_pages = site.pages | where: "type", "experience" | sort: "id" | reverse %}
      {% for experience in experience_pages %}
      <div class="col-md-6 col-lg-6">
        <div class="row">
          <div class="col-sm-2">
            <img width="130" height="130" src="{{ experience.image }}" class="d-block mx-auto">
          </div>
          <div class="col-lg-8 align-self-center" style="margin-left: 10%;">
            <h5>{{ experience.summary }}</h5>
            <p class="small_height">{{ experience.location }}</p>
            <p class="small_height">{{ experience.time }}</p>
            <p class="small_height">{{ experience.description }}</p>
            <br>
          </div>
        </div>
      </div>
      {% if forloop.index == include.limit %}
        {% break %}
      {% endif %}
      {% endfor %}
    </div>

    {% if experience_pages.size > include.limit %}
      <p class="text-center pt-4"><a href="{{ site.baseurl}}/experiences/">See all {{ experience_pages.size }} experiences</a></p>
    {% endif %}

  </div>
</div>
