/* Default theme. Simple, yet elegant. */

/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* See https://getbootstrap.com/docs/5.2/customize/css-variables/#root-variables for variables to override. */
:root {
  --bs-font-sans-serif: "Open Sans", sans-serif;
  --bs-link-color: var(--bs-blue);
  --tf-pill-bg: var(--bs-gray);
  --tf-icon-fill: var(--bs-gray);
  --tf-page-bg-color: var(--bs-white);
  --tf-footer-bg-color: var(--bs-gray-200);
  --tf-projects-bg-color: var(--bs-white);
  --tf-papers-bg-color: var(--bs-gray-100);
}

/* Format social media icons */
.tf-social {
  display: inline-block;
  fill: var(--tf-icon-fill);
  height: 1.5em;
  vertical-align: -.1em;
  width: 1.5em;
}

a {
  text-decoration: none;
}

/*ul with no bullet for education part*/
ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  /*make line height small*/
  line-height: 1;
}


ul.interest {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin-left: 5%;
}

li.interest {
  font-size: 19px;
  line-height:130%;
}

/* Simplify the styling of the bottom of Essay cards. */
.card-footer {
  background-color: var(--bs-white);
  border-top: none;
}

/*padding for navbar*/
body {
  padding-top: 50px;
}

p.small_height {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
