<div style="background-color: var(--tf-papers-bg-color)" class="bg-gradient py-3" id="experiences">
  <div class="container">
    <div class="row mb-3">
      <div class="col-md-6">
        <h1 class="display-4 text-start">Experiences</h1>
      </div>
    </div>

    <div class="row">
      {% assign experience_pages = site.pages | where: "type", "experience" | sort: "id" | reverse %}
      {% for experience in experience_pages %}
        {% include experiences/experience-card.html experience=experience %}
      {% if forloop.index == include.limit %}
        {% break %}
      {% endif %}
      {% endfor %}
    </div>

    {% if experience_pages.size > include.limit %}
      <p class="text-center pt-4"><a href="{{ site.baseurl}}/experiences/">See all {{ experience_pages.size }} experiences</a></p>
    {% endif %}

  </div>
</div>
