<div class="col-md-6 col-lg-6">
    <div class="row">
      <div class="col-sm-2">
        <img width="130" height="130" src="{{ site.baseurl }}/{{ include.experience.image }}" class="d-block mx-auto">
      </div>
      <div class="col-lg-8 align-self-center" style="margin-left: 10%;">
        <h5>{{ include.experience.summary }}</h5>
        <p class="small_height">{{ include.experience.location }}</p>
        <p class="small_height">{{ include.experience.time }}</p>
        <p class="small_height">{{ include.experience.description }}</p>
        <br>
      </div>
    </div>
  </div>